openapi: 3.0.3
info:
  title: Statens vegvesen - Kjøretøydata (Enkeltoppslag)
  version: 2.0.0
  description: >
    OpenAPI-beskrivelse for oppslag av tekniske kjøretøydata hos Statens vegvesen.
    Operasjonen støtter oppslag med enten kjennemerke eller understellsnummer (VIN).
servers:
  - url: https://akfell-datautlevering.atlas.vegvesen.no
    description: Produksjon
security:
  - svvApiKey: []
paths:
  /enkeltoppslag/kjoretoydata:
    get:
      operationId: hentKjoretoydata
      summary: Hent tekniske kjøretøydata
      description: >
        Henter kjøretøydata basert på enten `kjennemerke` eller `understellsnummer`.
        Send kun én av parameterne i samme kall.
      parameters:
        - name: kjennemerke
          in: query
          required: false
          description: Kjøretøyets kjennemerke eller personlig kjennemerke.
          schema:
            type: string
            minLength: 2
            maxLength: 10
            example: EL49512
        - name: understellsnummer
          in: query
          required: false
          description: Kjøretøyets understellsnummer (VIN).
          schema:
            type: string
            minLength: 1
            maxLength: 19
            example: SJNFAAZE0U6015251
      responses:
        '200':
          description: Data for kjøretøy ble levert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KjoretoydataResponse'
              examples:
                eksempelTreff:
                  value:
                    feilmelding: null
                    kjoretoydataListe:
                      - kjoretoyId:
                          kjennemerke: EL 49512
                          understellsnummer: SJNFAAZE0U6015251
                        forstegangsregistrering:
                          registrertForstegangNorgeDato: 2014-10-17
        '204':
          description: Ingen treff for oppgitt kjennemerke eller understellsnummer.
        '400':
          description: Ugyldig forespørsel.
        '401':
          description: Manglende/ugyldig autorisasjon i SVV-Authorization.
        '403':
          description: Ugyldig/sperret API-nøkkel eller tilgang nektet.
        '422':
          description: Antall kjøretøy i respons overstiger kvote.
          headers:
            Retry-After:
              description: Prøv igjen etter midnatt (norsk tid).
              schema:
                type: string
        '429':
          description: For mange kall (kvote oppbrukt i perioden).
          headers:
            Retry-After:
              description: Antall sekunder til nytt kall er tillatt.
              schema:
                type: string
        default:
          description: Uforutsett feil.

components:
  securitySchemes:
    svvApiKey:
      type: apiKey
      in: header
      name: SVV-Authorization
      description: 'Sett headerverdi til: `Apikey <din_api_nokkel>`'
  schemas:
    KjoretoydataResponse:
      type: object
      properties:
        feilmelding:
          type: string
          nullable: true
          description: Feilmelding fra API-et, hvis tilgjengelig.
        kjoretoydataListe:
          type: array
          items:
            $ref: '#/components/schemas/EnkeltOppslagKjoretoydata'
      additionalProperties: true

    EnkeltOppslagKjoretoydata:
      type: object
      properties:
        kjoretoyId:
          $ref: '#/components/schemas/KjoretoyIdentitet'
        forstegangsregistrering:
          $ref: '#/components/schemas/Forstegangsregistrering'
        registrering:
          $ref: '#/components/schemas/Registrering'
        periodiskKjoretoyKontroll:
          $ref: '#/components/schemas/PeriodiskKjoretoyKontroll'
        godkjenning:
          $ref: '#/components/schemas/Godkjenning'
      additionalProperties: true

    KjoretoyIdentitet:
      type: object
      properties:
        kjennemerke:
          type: string
        understellsnummer:
          type: string
        kuid:
          type: string
      additionalProperties: true

    Forstegangsregistrering:
      type: object
      properties:
        registrertForstegangNorgeDato:
          type: string
          format: date
      additionalProperties: true

    Registrering:
      type: object
      properties:
        registreringsstatus:
          $ref: '#/components/schemas/KodeverkType'
        registrertForstegangPaEierskap:
          type: string
          format: date-time
      additionalProperties: true

    PeriodiskKjoretoyKontroll:
      type: object
      properties:
        kontrollfrist:
          type: string
          format: date
        sistGodkjent:
          type: string
          format: date
      additionalProperties: true

    Godkjenning:
      type: object
      properties:
        tekniskGodkjenning:
          $ref: '#/components/schemas/TekniskGodkjenning'
      additionalProperties: true

    TekniskGodkjenning:
      type: object
      properties:
        kjoretoyklassifisering:
          $ref: '#/components/schemas/Kjoretoyklassifisering'
        tekniskeData:
          $ref: '#/components/schemas/TekniskeData'
      additionalProperties: true

    Kjoretoyklassifisering:
      type: object
      properties:
        beskrivelse:
          type: string
      additionalProperties: true

    TekniskeData:
      type: object
      properties:
        generelt:
          $ref: '#/components/schemas/Generelt'
        motorOgDrivverk:
          $ref: '#/components/schemas/MotorOgDrivverk'
        persontall:
          $ref: '#/components/schemas/Persontall'
        dimensjoner:
          $ref: '#/components/schemas/Dimensjoner'
        vekter:
          $ref: '#/components/schemas/Vekter'
        karosseriOgLasteplan:
          $ref: '#/components/schemas/KarosseriOgLasteplan'
      additionalProperties: true

    Generelt:
      type: object
      properties:
        merke:
          type: array
          items:
            $ref: '#/components/schemas/Merke'
        handelsbetegnelse:
          type: array
          items:
            type: string
      additionalProperties: true

    Merke:
      type: object
      properties:
        merke:
          type: string
      additionalProperties: true

    MotorOgDrivverk:
      type: object
      properties:
        motor:
          type: array
          items:
            $ref: '#/components/schemas/Motor'
      additionalProperties: true

    Motor:
      type: object
      properties:
        drivstoff:
          type: array
          items:
            $ref: '#/components/schemas/Drivstoff'
      additionalProperties: true

    Drivstoff:
      type: object
      properties:
        drivstoffKode:
          $ref: '#/components/schemas/KodeverkType'
        maksNettoEffekt:
          type: number
        maksEffektPrTime:
          type: number
      additionalProperties: true

    Persontall:
      type: object
      properties:
        sitteplasserTotalt:
          type: integer
      additionalProperties: true

    Dimensjoner:
      type: object
      properties:
        lengde:
          type: integer
        bredde:
          type: integer
        hoyde:
          type: integer
      additionalProperties: true

    Vekter:
      type: object
      properties:
        egenvekt:
          type: integer
        tillattTotalvekt:
          type: integer
        nyttelast:
          type: integer
      additionalProperties: true

    KarosseriOgLasteplan:
      type: object
      properties:
        rFarge:
          type: array
          items:
            $ref: '#/components/schemas/KodeverkType'
        fargeFjar:
          type: string
      additionalProperties: true

    KodeverkType:
      type: object
      properties:
        kodeTypeId:
          type: string
        kodeBeskrivelse:
          type: string
        kodeNavn:
          type: string
        kodeVerdi:
          type: string
      additionalProperties: true
